.formb{
    max-width:40%;
}
html{
    background-color: #b8b8b8;
}
body{
    background-color: #b8b8b8;
}
.inputholder{
    padding-left:10px !important;
}
input[type="text"],input[type="text"],input[type="text"]{
    height:40px !important;width: 60% !important; outline: #b8b8b8 !important;
}

.formhead{
height:auto;min-height:150px;background-color: cadetblue;min-width:fit-content;max-width: 100%; padding-left: 10px;text-align: center;font-family: rockwell;margin-bottom:50px;
}
.btfloat-r{
    display:flex;justify-content: center;align-items: center;
}
::selection{
    background-color: transparent;
}
.help{
    width:40%;height:30px;background-color:transparent;
}
