.formb{
    max-width:40%;
}
html{
    background-color: #b8b8b8;
}
body{
    background-color: #b8b8b8;
}
.inputholder{
    padding-left:10px !important;
}
.ms{
    margin: 0px auto !important;width:60%;background-color: #f0f0f0;height: auto;padding-bottom:50px;
}
/* .alertbox{
    z-index: 99;cursor: pointer;border: 1px solid black;width:50%; margin: 0px auto;height: 40%;display:block;background-color: white;
}
.cover{
    top:0;left:0;height:100%;width:100%;cursor: progress;z-index: 9;background-color: transparent;height:100%;display: block;background-color: blue;
} */
.formhead{
height:auto;min-height:150px;background-color: cadetblue;min-width:fit-content;max-width: 100%; padding-left: 10px;text-align: center;font-family: rockwell;margin-bottom:50px;
}
.btfloat-r{
    display:flex;justify-content: center;align-items: center;
}
::selection{
    background-color: transparent;
}
.help{
    width:40%;height:30px;background-color:transparent;
}
